meta(charset="utf-8")
meta(http-equiv="X-UA-Compatible", content="IE=edge")
meta(name="viewport", content="width=device-width, initial-scale=1")
  
meta(property="og:title", content="Pushka !")
meta(property="og:type", content="website")
meta(property="og:url", content="http://www.pushka.live")
meta(property="og:image", content="http://www.pushka.live/pushka-2048x2048.jpg")

link(rel="icon", type="image/png", href="/pushka-32x32.png", sizes="32x32")
link(rel="icon", type="image/png", href="/pushka-16x16.png", sizes="16x16")

link(rel="stylesheet", href="https://unpkg.com/bootstrap@3.3.7/dist/css/bootstrap.min.css")
link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Indie+Flower|Sedgwick+Ave+Display")
link(rel="stylesheet", href="/pushka.css")
