extends ../../_layout.pug

block head

  title EP 2017 - Sons et textes - Pushka !
  meta(name="description", content="EP 2017 - Sons et textes - Pushka Pushka Pushka !")
  meta(name="keywords", content="EP 2017, Sons, Textes, Pushka")

block content
  
  h1 EP 2017
    a(href="/photos-et-videos/2017/ep.html") Voir les photos
  
  .row

    ul
      
      li.col-xs-12
        h2 01 - Frappé d'anathème
        audio(src="/sons-et-textes/2017/ep/01-frappe-d-anatheme.mp3", controls)
        blockquote(style="white-space: pre").
          
          Plus j'écoute et plus j'aime, le hip-hop est dans mes veines  
          S'écoule mieux que mes déveines
          À peine je le sème, qu'il s'égrène et assène
          Sans peine des coups de BPM en chaine
          Déchaine sa force s'enracine sur la scène

          Assassine les coulées et le chagrin finit coulé
          Dilué dans le son, fondant les cœurs tels des glaçons
          Sensation de jamais vu, c'est bon déjà, mais vu
          Que ça continue on laisse aller, on se laisse aller

          Allez ça y est, le sang avant amer finit salé
          Les corps sont enlacés mais plus jamais délaissés
          C'était parfait à l'imparfait et à présent toujours ça l'est
          Et le futur que nous réserve–t-il ? T'inquiète, je garde mon style

          Au fond de ton cœur, certes hostile et austère
          Ne connaissant que l'inconnu, mais ose taire
          En toi le fourmillement venant (maintenant) jusqu'au bout de tes doigts
          Je souhaiterais rester adroit jusqu'au bout de mon souffle

          Il n'y a personne qui me souffle, je n'ai pas de bras droit
          Même mon gauche est amoché, bien trop moche pour découcher
          C'est pour ça que je décoche des mots de mon carquois
          Finir soudé, le coche en poche sourire narquois, c'est des idées !

          C'est décidé j'veux avancer coûte que coûte car quoi
          Qu'il advienne, ma flèche à moi elle finira dans les fourrés
          Sans se fouler et bien loin d'être affolée
          Son excuse sera d'attendre le jour où j'aurais dessaoulé
          Elle dira attendre le jour où j'aurais enfin dessaoulé

          Là où des ex se sont usées, mes armes j'ai déposé
          Là où mes larmes j'ai apposé, mes exclamations se sont tues
          Zèle au poing, j'hèle au coin, arqué je guette cupide
          On me rejette du coin de l'œil, et le mien se met à tourner

      li.col-xs-12
        h2 02 - La plume
        audio(src="/sons-et-textes/2017/ep/02-la-plume.mp3", controls)
        blockquote(style="white-space: pre").
          
          La plume glisse entre mes mains
          Maintes fois j'ai laissé la feuille blanche
          Blanchir les pages de mon destin
          Déteint par la vision de ces quatre planches
          Plancher à fond ne jamais s'arrêter
          L'arrêt taira à tout jamais ma voix
          Vois-tu ? Tout s'affiche enfin avec la clarté
          Car tels sont visibles les sillons de ma voie
          Voilés sont les agissements de nos politiques
          Politiquement correct, je viens pour en parler
          Par les temps qui courent, même dans notre pays démocratique
          Pratique pour eux la vérité est protégée par des remparts
          Les inégalités ne se répartissent pas dans les villes
          Vile est la vie pour ceux qui sont reclus dans les tés-ci
          Si tellement de personnes âgées y sont séniles
          C'est nullement grâce à leurs retraites trop désépaissies
          Épaissir le portefeuille national pour combler le trou de la sécu
          Sécuriser la sécurité sont les deux leitmotivs
          Motivant, et pour cela devant nous, ils jouent les faux-culs
          On s'est cru fort : détruire, reconstruire mais on a oublié les motifs

          Émotif et timoré, j'aimerais pouvoir vous les présenter
          Sentez-vous prêt maintenant à les écouter ?
          Les coûts ternissent les rapports entre individus
          Vide usant dans nos poches les remplir est tâche ardue
          Ardue est également la question « que fait l'État de tout son argent ? »
          J'en arrive souvent à penser qu'il est bien trop mis dans ses agents
          Gens de la sécurité, police, milice, matraque, flash-ball
          Bol plein et c'est le peuple qui doit encore trinquer
          P'tain qu'est donc devenue la promesse de démocratie
          Car si le peuple était vraiment maître de ces décisions
          Scission sociale serait brassage on serait debout et pas assis
          Si seuls et pratiquant pour survivre, l'autodérision
          Des visions dans ma tête me montrent comment frapper un grand coup
          Coupons les pieds de l'échelle sociale pour qu'il y ait moins de barreaux
          Haro sur Dame Richesse on va lui casser son coup
          Sans courage et sans partage on en laisse forcément sur le carreau
          Car au bout du compte il y a encore des laissés-pour-compte
          Comptant sur nous-mêmes pour que l'on s'en rende compte
          Contentons-nous de peu et partageons le surplus
          Plus on est de fous et plus on sera pour gueuler dans la rue !

          La plume colle entre mes doigts
          Dois-je écrire encore, ou bien me taire
          Terre à terre j'envoie des vers que je juge adroits
          Juges adroits empêchent aux véreux d'être mis aux fers
          Offertes par l'Élysée sont des histoires de corruption
          Éruption d'affaire Elf suite celle des diamants
          L'amendement Dodd-Frank d'Obama provoquera-t-il l'interruption ?
          Si on ferme les yeux on avalera tous leurs calmants
          Calme ambiant, en France on aime bien la fermer
          Ferme est notre politique concernant les sans-papiers
          Piètre humour noir, mais ça coûte de les renvoyer ?
          N'voyez-vous pas qu'c'est des logements sociaux qu'on doit leur affermer ?
          Fier mais pourtant nos politiques ont bien léché Kadhafi
          Finalement on ne peut pas se passer de la vente de l'armement
          Mentalement détraqué, tyran c'est une vraie lexicographie
          L'affiliation des deux États aura duré plus de 40 ans
          Car en temps voulu on sait toujours retourner nos vestes
          Vestiges, certainement de la grande époque du colonialisme
          Dialyse mentale pour rendre l'histoire plus digeste
          Gestuelle habile et c'est le début de l'impérialisme…
          
      li.col-xs-12
        h2 03 - Duel
        audio(src="/sons-et-textes/2017/ep/03-duel.mp3", controls)
        blockquote(style="white-space: pre").
          
          Comme la balle qui vint heurter Mahatma Gandhi
           Comme le cauchemar qui vient hanter tes plus belles nuits
           Comme l'olivier venant s'ériger sur le tracé du mur de la honte
           Comme l'huissier qui vient t'annoncer la tristesse de tes comptes
           Comme la rose rouge sang au milieu d'un champ de chiendent
           Comme un gosse mitraillant souriant croquant la vie à pleine dent
           Comme ce nuage blanc dans le ciel gris de Tchernobyl
           Comme un inspecteur un peu lent je recherche le mobile  

          Tantôt je fais le bien, et tantôt je fais le mal
           Je peux être le sniper ou bien le gilet pare-balles
           Je peux égayer ton destin comme je peux ruiner tes espoirs
           Je peux te donner la peur, ou être ton guide dans le noir  

          Telle une tombe je me tais,
           Telle une bombe dans ta te-té, je viens tuer ce silence
           Telle la paix éreintée après une trop longue abstinence  
           Telle une bonne crise incrustée je viens rabaisser tes finances
           Telle une plaie mal soignée où vient s'installer la gangrène
           Tel Nepri en Érythrée je viens pour planter une graine
           Tel le réchauffement climatique j'attends le bon moment pour frapper
           Tel est ton but hypothétique, vas-tu finir par m'attraper ?

          Tantôt je fais le bien, et tantôt je fais le mal
           Je peux être le sniper ou bien le gilet pare-balles
           Je peux égayer ton destin comme je peux ruiner tes espoirs
           Je peux te donner la peur, ou être ton guide dans le noir  

            Comme un condor dans le ciel je peux massacrer mes proies
           Comme un Concorde dans le ciel, et le condor est dans l'effroi
           Comme une lettre officielle je peux te faire devenir roi
           Comme un échauffement sur une bielle je peux te faire couler crois-moi
           Comme une rivière sanguinolente se jetant dans la mer Rouge
           Comme une révolte virulente je recolore la vie des bourges
           Comme un arbre en Jordanie je représente le changement
           Comme un arbre en Amazonie je peux crever pour de l'argent

          Tantôt je fais le bien, et tantôt je fais le mal
           Je peux être le sniper ou bien le gilet pare-balles
           Je peux égayer ton destin comme je peux ruiner tes espoirs
           Je peux te donner la peur, ou être ton guide dans le noir  

            Tel un Arabe en octobre je peux être jeté dans la Seine
           Tel Molière sans opprobre je peux mourir sur la scène
           Tel un tilleul en octobre je peux partager mes feuilles
           Tel un glaïeul sans opprobre je peux tout garder pour ma gueule
           Tel un Robin des Bois je peux dépouiller les bourgeois

           Tel le petit Nicolas je nique les pauvres dans la joie
           Telle la Compagnie Créole je suis bon pour le moral
           Tel ton cri de chat qui miaule quand je tranche ta fémorale
          
      li.col-xs-12
        h2 04 - Danse
        audio(src="/sons-et-textes/2017/ep/04-danse.mp3", controls)
        blockquote(style="white-space: pre").
          
          J'ouvre un œil lentement dans la souffrance sombre
          De mon être et vois doucement se dessiner son ombre
          Sous la clarté d'une lumière à la gueule blafarde
          Par manque de pureté dans la glace, ma gueule je farde
          Je tente de cacher les séquelles d'une vie gâchée
          Par une échelle sociale cassée et un destin fâché
          Je regarde ma tronche pâle et mon corps frêle
          Je toise mes fringues sales et mon sort de brêle
          Brûlante mon âme râle sous les assauts perpétuels
          De ces violents chacals pour eux un doux rituel
          Si elles étaient moins banales, les approches seraient moins cruelles
          Toutes ces amourettes vénales, j'y mettrais fin à coups de pelle
          Je les jetterais dans le canal, embrasserais leur cou au scalpel
          Y ajouterais le point final, les envoyant à la chapelle
          Pour une messe un peu spéciale, teintée de noir et sans rappel
          Où les amis sont là, glacials pleurant ce verdict sans appel

          J'ouvre un œil lentement dans la souffrance sombre
          De mon être et vois doucement se dessiner son ombre
          Je sens un fourmillement me chatouiller dans le cou
          Comme le ferait un amant pour s'excuser après un coup
          Douce manipulation, un coup toujours fait une blessure
          Malgré toutes les attentions et les mamours qu'on me susurre
          Je me remets en position non réprimée par la censure
          En équilibre par précaution mais pas de celui qui rassure
          J'entends au loin une chanson, ma préférée à coup sûr
          J'en connais bien la partition et les notes m'en assurent
          Le refrain est entraînant sur un rythme effréné
          Les pas sont un peu gênants mais je ne veux pas me réfréner
          Alors je pousse le tabouret et commence ma danse
          Ce n'est pas une bourrée mais une qui pousse à la transe
          La corde à mon cou se serre comme les corps qui m'étreignent
          Et la danse continuera jusqu'à c'q'une prostituée s'éteigne
          
      li.col-xs-12
        h2 05 - Faut que jm'achète
        audio(src="/sons-et-textes/2017/ep/05-faut-que-jm-achete.mp3", controls)
        blockquote(style="white-space: pre").
          
          Dans ce monde je vous le dis la monnaie règne et c'est ainsi
          Que la vie se définit comme un enchaînement de besoins et d'envies
          La pub nous pousse à acheter les dernières innovations
          Personne n'est épargné regardons-nous avec attention
          On veut toujours posséder la nouveauté qu'à notre voisin de palier
          Et pour pallier à ce besoin on s'empresse de l'acheter
          On dit souvent a-t-on raison que le temps c'est de l'argent
          Mais bon pour avoir beaucoup d'argent il faut aussi avoir du temps

          Faut que je m'achète du temps
          Oh j'aimerais bien tout acheter
          Faut que je m'achète du temps
          Je veux voir le bien à l'Élysée
          Faut que je m'achète du temps
          La vie est courte, je veux pas la gâcher
          Faut que je m'achète du temps
          Faut que je m'achète, faut que je m'achète

          Quand est-ce qu'on me dira que tout ira bien
          Quand est-ce qu'on me le dira avec un air certain
          Et qu'enfin on n'ait plus cet air de demeuré
          À chaque fois que l'on mate des conneries à la télé
          Quand est-ce qu'on me dira des bonnes nouvelles aux infos
          Quand est-ce que les gens discerneront enfin le vrai du faux
          Quand est-ce qu'on parlera d'exploit des gens de l'Élysée
          Et est-ce que j'aurai dans ma vie le temps de l'observer ?

          Faut que je m'achète du temps
          Oh j'aimerais bien tout acheter
          Faut que je m'achète du temps
          Je veux voir le bien à l'Élysée
          Faut que je m'achète du temps
          La vie est courte, je veux pas la gâcher
          Faut que je m'achète du temps
          Faut que je m'achète, faut que je m'achète

          Quand je vois que des enfants meurent en prenant part aux combats
          Et quand je vois tous ces gens décimés par le SIDA
          Quand le suicide empêche ces ados de devenir un jour papa
          Et quand je vois le cancer précipiter le trépas
          Je me dis qu'il est certainement grand temps pour moi
          De profiter de la vie et de faire plein de trucs sympas
          Mais les cours me bouffent et dans leur bouche c'est l'amer qui restera
          Car le soleil et la mer trop peu je ne les vois

          Faut que je m'achète du temps
          Oh j'aimerais bien tout acheter
          Faut que je m'achète du temps
          Je veux voir le bien à l'Élysée
          Faut que je m'achète du temps
          La vie est courte, je veux pas la gâcher
          Faut que je m'achète du temps
          Faut que je m'achète, faut que je m'achète

          Il n'y a pas de doute on ne devrait pas douter
          Tout est dit par ces dires, au bonheur on doit goûter
          Tes goûts t'appartiennent, personne ne peut t'imposer
          Je rappe posé pour que tu comprennes
          Qu'avec ou sans temps, si tant est que le temps est à vendre pourtant
          L'important c'est le plaisir simple et hors du temps
          Mince déjà se profile la fin de la chanson, de tout dire je n'aurai pas le temps, putain…
          
      li.col-xs-12
        h2 06 - Saisons
        audio(src="/sons-et-textes/2017/ep/06-saisons.mp3", controls)
        blockquote(style="white-space: pre").
          
          Les feuilles tombent du calendrier
          L’automne est sur le seuil et ne se fait pas prier
          Prit est le rendez-vous avec le froid et la pluie
          Rendez-vous ! C’est fini, on a des preuves à l’appui
          Puisse au moins un resto nous réchauffer le cœur
          Quand enroulés dans l’hiver les pauvres se meurent
          Meurtris car l’État nous a encore roulés
          Promesses électorales éphémères comme des giboulées
          Brûlez vos cartes électorales devant Matignon
          Revoilà le printemps ils vont jouer au plus mignon
          Gnons dans les yeux on les verra pas nous dépouiller
          Ce sera en prime time quand la veille on aura couiller
          Et sans qu’on ne réagisse ce sera déjà l’été
          On se gavera d’anis on n’aura plus rien à péter
          Pendant qu’on dilapidera nos maigres économies
          Ils passeront des lois sans qu’on ne crie ignominie

          Les feuilles retombent du calendrier
          L’automne revient et ne se fait pas prier
          La boucle est bouclée mais je ne veux pas la boucler
          Je vais encore brailler tant que des oreilles seront bouchées
          Les années passent, rien ne change, je ressasse
          Je m’agace, je perds au change et ça me tracasse
          L’automne j’entonne fredonne, personne ne s’étonne que j’en fasse des tonnes
          L’hiver est sévère, la rue boit des verres, les vérités sont balivernes
          Au printemps, on est consentant avec ce que la politique prétend
          L’été rien à péter c’est la fin de l’année on vise la satiété
          Ainsi s’écoulent les années et les saisons
          Comme la vérité coule, donnons la bouée à la raison
          Ainsi s’écoulent les années et les saisons
          Comme la vérité coule, donnons la bouée à la raison
          
      li.col-xs-12
        h2 07 - Petit bonhomme
        audio(src="/sons-et-textes/2017/ep/07-petit-bonhomme.mp3", controls)
        blockquote(style="white-space: pre").
          
          Petit bonhomme s'avance triste dans la rue St Denis
          Petit bonhomme se dit que la vie pour lui c'est fini
          Petit bonhomme regarde maintenant par-dessus le pont Marie
          Il se dit que c'est fini, qu'ce temps gris le tue et l'ennui
          Il ne pense plus à rien sauf à cette pluie
          Qui dégouline sur sa joue et n'arrange en rien ses soucis
          Tombant en lui montrant le chemin qui le mène inéluctablement vers la fin de sa vie

          Il oublie, il oublie tout, il oublie sa vie
          Ses rêves, ses illusions et aussi ses amis
          Il oublie que sa vie n'est pas si ternie
          Mais où sont donc passées toutes ses envies ?
          Où sont elles toutes parties, aujourd'hui plus rien ne lui fait envie !
          Il s'oublie

          Il pense à ses amis qui se contentent de leur train de vie
          Il y pense, à eux qui sont resté au pays
          Car ici, il sent qu'il n'y a pas de place pour lui
          Et c'est en tout cas ce qu'a dit Jean-Marie
          Et tous ces gens bien trop fiers de leur mère-patrie.
          Alors aujourd'hui il s'en va, car c'est la rage qui le nourrit
          Et c'est vers le bas de ce pont que maintenant, cette garce sans remords, elle le dévie.

          Il oublie, il oublie tout, il oublie sa vie
          Ses rêves, ses illusions et aussi ses amis
          Il oublie que sa vie n'est pas si ternie
          Mais où sont donc passées toutes ses envies ?
          Où sont elles toutes parties, aujourd'hui plus rien ne lui fait envie !
          Il s'oublie

          Petit bonhomme aperçoit un rayon percer le gris
          Petit bonhomme s'accorde un sursit et réfléchit
          Putain c'est pas bien grave s'il n'a pas tout réussi
          L'important c'est qu'il essaie d'faire comprendre à tous ces pourris
          À tous ces gens violents qui de raison sont démunis
          Que tout le monde a droit à sa chance dans la vie !

          Et il se rappelle qu'il a une vie
          Des rêves, des illusions et aussi des amis
          Il se rend compte que tout n'est pas si terni
          Et il se demande où sont parties toutes ses envies
          Elles sont partout, dans chaque recoin de sa vie
          Il sourit !

          Il sourit, face à sa chienne de vie
          Il sourit, car tout n'est pas fini
          Il sourit, car il a un dernier défi
          Et il part s'acheter une arme dernier cri
          Demain il ira tuer Jean-Marie…
          
      li.col-xs-12
        h2 08 - Parapet
        audio(src="/sons-et-textes/2017/ep/08-parapet.mp3", controls)
        blockquote(style="white-space: pre").
          
          Il quitte la mêlée plein de bleus
          Il a ramassé comme jamais
          Des cathédrales sans être pieu
          Et des crampons dans les jarrets
          Des trucs fêlés dans tout son corps
          Même les plus fêlés sont d'accord
          Il vient là de sceller son sort
          Il peut mettre une croix sur le sport

          Mais il dit qu'il peut se strapper
          Il a envie de sauter
          Du full-contact, du karaté
          Ouais il a envie de sauter
          Et il a envie de sauter
          Et il a envie de sauter
          Ouais il a envie de sauter
          Ouais il a envie de sauter

          Quelques pipas et du Ricard
          Troisième mi-temps seul sur son balcon
          Ses potes passent pour un traquenard
          « C'est quoi c'te gueule ? Viens faire le con ! »
          Du vin, des cèpes et du canard
          « On va tuer quelques flacons ! »
          Ils ne voient pas qu'il en a marre…
          « Et c'est avec le front les glaçons ! »

          Mais le sourire peut s'attraper
          Il a envie de sauter
          Et sans avoir à s'arrêter
          Ouais il a envie de sauter
          Et il a envie de sauter
          Et il a envie de sauter
          Ouais il a envie de sauter
          Ouais il a envie de sauter

          Et ils entament un barathon
          Boivent des tonnes et des tonneaux
          Ils s'arrêtent grailler des grattons
          Du bon jambon, du jambonneau
          Ils proposent d'aller à un concert
          « Du rap d'un pote, ça déboîte ! »
          Lui il demande à quoi ça sert
          Il aurait voulu aller en boîte !

          Il veut pas voir des mecs rapper
          Il a envie de sauter
          Et sans avoir à s'arrêter
          Ouais il a envie de sauter
          Et il a envie de sauter
          Et il a envie de sauter
          Ouais il a envie de sauter
          Ouais il a envie de sauter

          Alors il se taille en douce
          Un peu les veines et vers chez lui
          Seul car il n'a pas de douce
          Que des déveines et un lit, vide
          Il arrive blanc comme un sachet
          Et monte jusqu'au dernier étage
          Il grimpe sur le muret
          Qui surplombe le paysage

          Maintenant sur le parapet
          Il a envie de sauter
          Il est sûr de ne pas s'rater
          Ouais il a envie de sauter
          Et il a envie de sauter
          Et il a envie de sauter
          Ouais il a envie de sauter
          Ouais il a envie de sauter
