extends ../../layout.pug

block content
  
  h1
    | #{page.name}
    a(href="/sons-et-textes/2017/ep") Écouter les sons
  
  .row
    
    ul
      li.col-xs-12.col-md-6
        img(src="/static/photos/2017-ep/3.jpg", alt="EP 2017", style="max-width: 100%")
      li.col-xs-12.col-md-6
        img(src="/static/photos/2017-ep/4.jpg", alt="EP 2017", style="max-width: 100%")
      li.col-xs-12.col-md-6
        img(src="/static/photos/2017-ep/5.jpg", alt="EP 2017", style="max-width: 100%")
      li.col-xs-12.col-md-6
        img(src="/static/photos/2017-ep/6.jpg", alt="EP 2017", style="max-width: 100%")
      li.col-xs-12.col-md-6
        img(src="/static/photos/2017-ep/7.jpg", alt="EP 2017", style="max-width: 100%")
      li.col-xs-12.col-md-6
        img(src="/static/photos/2017-ep/8.jpg", alt="EP 2017", style="max-width: 100%")
      li.col-xs-12.col-md-6
        img(src="/static/photos/2017-ep/9.jpg", alt="EP 2017", style="max-width: 100%")
      li.col-xs-12.col-md-6
        img(src="/static/photos/2017-ep/10.jpg", alt="EP 2017", style="max-width: 100%")
      li.col-xs-12.col-md-6
        img(src="/static/photos/2017-ep/11.jpg", alt="EP 2017", style="max-width: 100%")
      li.col-xs-12.col-md-6
        img(src="/static/photos/2017-ep/12.jpg", alt="EP 2017", style="max-width: 100%")
      li.col-xs-12.col-md-6
        img(src="/static/photos/2017-ep/13.jpg", alt="EP 2017", style="max-width: 100%")
      li.col-xs-12.col-md-6
        img(src="/static/photos/2017-ep/14.jpg", alt="EP 2017", style="max-width: 100%")
      li.col-xs-12.col-md-6
        img(src="/static/photos/2017-ep/15.jpg", alt="EP 2017", style="max-width: 100%")
      li.col-xs-12.col-md-6
        img(src="/static/photos/2017-ep/16.jpg", alt="EP 2017", style="max-width: 100%")
      li.col-xs-12.col-md-6
        img(src="/static/photos/2017-ep/17.jpg", alt="EP 2017", style="max-width: 100%")
      li.col-xs-12.col-md-6
        img(src="/static/photos/2017-ep/18.jpg", alt="EP 2017", style="max-width: 100%")
      li.col-xs-12.col-md-6
        img(src="/static/photos/2017-ep/19.jpg", alt="EP 2017", style="max-width: 100%")
      li.col-xs-12.col-md-6
        img(src="/static/photos/2017-ep/20.jpg", alt="EP 2017", style="max-width: 100%")
      li.col-xs-12.col-md-6
        img(src="/static/photos/2017-ep/21.jpg", alt="EP 2017", style="max-width: 100%")
      li.col-xs-12.col-md-6
        img(src="/static/photos/2017-ep/22.jpg", alt="EP 2017", style="max-width: 100%")
      li.col-xs-12.col-md-6
        img(src="/static/photos/2017-ep/23.jpg", alt="EP 2017", style="max-width: 100%")
      li.col-xs-12.col-md-6
        img(src="/static/photos/2017-ep/24.jpg", alt="EP 2017", style="max-width: 100%")
      li.col-xs-12.col-md-6
        img(src="/static/photos/2017-ep/25.jpg", alt="EP 2017", style="max-width: 100%")
      li.col-xs-12.col-md-6
        img(src="/static/photos/2017-ep/26.jpg", alt="EP 2017", style="max-width: 100%")
      li.col-xs-12.col-md-6
        img(src="/static/photos/2017-ep/27.jpg", alt="EP 2017", style="max-width: 100%")
      li.col-xs-12.col-md-6
        img(src="/static/photos/2017-ep/28.jpg", alt="EP 2017", style="max-width: 100%")
      li.col-xs-12.col-md-6
        img(src="/static/photos/2017-ep/34.jpg", alt="EP 2017", style="max-width: 100%")
      li.col-xs-12.col-md-6
        img(src="/static/photos/2017-ep/35.jpg", alt="EP 2017", style="max-width: 100%")
      li.col-xs-12.col-md-6
        img(src="/static/photos/2017-ep/36.jpg", alt="EP 2017", style="max-width: 100%")
      li.col-xs-12.col-md-6
        img(src="/static/photos/2017-ep/37.jpg", alt="EP 2017", style="max-width: 100%")
      li.col-xs-12.col-md-6
        img(src="/static/photos/2017-ep/38.jpg", alt="EP 2017", style="max-width: 100%")
      li.col-xs-12.col-md-6
        img(src="/static/photos/2017-ep/2.jpg", alt="EP 2017", style="max-width: 100%")
