extends ../../_layout.pug

block head

  title La Dame de Canton 2017 - Photos et vidéos - Pushka !
  meta(name="description", content="La Dame de Canton 2017 - Photos et vidéos - Pushka Pushka Pushka !")
  meta(name="keywords", content="La Dame de Canton 2017, Photos, Vidéos, Pushka")

block content
  
  h1 La Dame de Canton 2017
  
  .row
    p Photographe : Fabrice Puliero
  
  .row
    ul
      li.col-xs-12.col-md-6
        img(src="/static/photos/2017/la-dame-de-canton/1.jpg", alt="La Dame de Canton 2017", style="max-width: 100%")
      li.col-xs-12.col-md-6
        .embed-responsive.embed-responsive-16by9
          iframe(src="https://www.youtube.com/embed/Ol_PVCWoz7w?rel=0&amp;showinfo=0", frameborder="0", gesture="media", allow="encrypted-media", allowfullscreen)
      li.col-xs-12.col-md-6
        img(src="/static/photos/2017/la-dame-de-canton/2.jpg", alt="La Dame de Canton 2017", style="max-width: 100%")
      li.col-xs-12.col-md-6
        img(src="/static/photos/2017/la-dame-de-canton/3.jpg", alt="La Dame de Canton 2017", style="max-width: 100%")
      li.col-xs-12.col-md-6
        .embed-responsive.embed-responsive-16by9
          iframe(src="https://www.youtube.com/embed/_xkyQTavUIU?rel=0&amp;showinfo=0", frameborder="0", gesture="media", allow="encrypted-media", allowfullscreen)
      li.col-xs-12.col-md-6
        img(src="/static/photos/2017/la-dame-de-canton/4.jpg", alt="La Dame de Canton 2017", style="max-width: 100%")
      li.col-xs-12.col-md-6
        img(src="/static/photos/2017/la-dame-de-canton/5.jpg", alt="La Dame de Canton 2017", style="max-width: 100%")
      li.col-xs-12.col-md-6
        img(src="/static/photos/2017/la-dame-de-canton/6.jpg", alt="La Dame de Canton 2017", style="max-width: 100%")
      li.col-xs-12.col-md-6
        img(src="/static/photos/2017/la-dame-de-canton/7.jpg", alt="La Dame de Canton 2017", style="max-width: 100%")
      li.col-xs-12.col-md-6
        img(src="/static/photos/2017/la-dame-de-canton/8.jpg", alt="La Dame de Canton 2017", style="max-width: 100%")
      li.col-xs-12.col-md-6
        img(src="/static/photos/2017/la-dame-de-canton/9.jpg", alt="La Dame de Canton 2017", style="max-width: 100%")
      li.col-xs-12.col-md-6
        img(src="/static/photos/2017/la-dame-de-canton/10.jpg", alt="La Dame de Canton 2017", style="max-width: 100%")
      li.col-xs-12.col-md-6
        img(src="/static/photos/2017/la-dame-de-canton/11.jpg", alt="La Dame de Canton 2017", style="max-width: 100%")
