extends ../../layout.pug

block content
  
  h1
    | #{page.name}
  
  .row

    ul
      
      li.col-xs-12
        h2 01 - Tuer le temps
        audio(src="http://christophe-maillard.com/pushka/2012-la-scene-michelet/01-tuer-le-temps.mp3", controls)
          
      li.col-xs-12
        h2 02 - La fête
        audio(src="http://christophe-maillard.com/pushka/2012-la-scene-michelet/02-la-fete.mp3", controls)
          
      li.col-xs-12
        h2 03 - La mignonne
        audio(src="http://christophe-maillard.com/pushka/2012-la-scene-michelet/03-la-mignonne.mp3", controls)
          
      li.col-xs-12
        h2 04 - La vie muse
        audio(src="http://christophe-maillard.com/pushka/2012-la-scene-michelet/04-la-vis-muse.mp3", controls)
          
      li.col-xs-12
        h2 05 - Danse
        audio(src="http://christophe-maillard.com/pushka/2012-la-scene-michelet/05-danse.mp3", controls)
          
      li.col-xs-12
        h2 06 - La plume
        audio(src="http://christophe-maillard.com/pushka/2012-la-scene-michelet/06-la-plume.mp3", controls)
          
      li.col-xs-12
        h2 07 - Petit Bonhomme
        audio(src="http://christophe-maillard.com/pushka/2012-la-scene-michelet/07-petit-bonhomme.mp3", controls)
          
      li.col-xs-12
        h2 08 - Didgeridoo/electro
        audio(src="http://christophe-maillard.com/pushka/2012-la-scene-michelet/08-didgeridoo-electro.mp3", controls)
          
      li.col-xs-12
        h2 09 - Saisons
        audio(src="http://christophe-maillard.com/pushka/2012-la-scene-michelet/09-saison.mp3", controls)
          
      li.col-xs-12
        h2 10 - La vie nouvelle
        audio(src="http://christophe-maillard.com/pushka/2012-la-scene-michelet/10-la-vie-nouvelle.mp3", controls)
          
      li.col-xs-12
        h2 11 - Mon cerveau
        audio(src="http://christophe-maillard.com/pushka/2012-la-scene-michelet/11-mon-cerveau.mp3", controls)
          
      li.col-xs-12
        h2 12 - La complainte
        audio(src="http://christophe-maillard.com/pushka/2012-la-scene-michelet/12-la-complainte.mp3", controls)
          
      li.col-xs-12
        h2 13 - Faut que jm'achète
        audio(src="http://christophe-maillard.com/pushka/2012-la-scene-michelet/13-faut-que-jm-achete.mp3", controls)
          
      li.col-xs-12
        h2 14 - Pour Élise
        audio(src="http://christophe-maillard.com/pushka/2012-la-scene-michelet/14-pour-elise.mp3", controls)
          
      li.col-xs-12
        h2 15 - It won't work
        audio(src="http://christophe-maillard.com/pushka/2012-la-scene-michelet/15-it-won-t-work.mp3", controls)
          
      li.col-xs-12
        h2 16 - Pushka
        audio(src="http://christophe-maillard.com/pushka/2012-la-scene-michelet/16-pushka.mp3", controls)
          
      li.col-xs-12
        h2 17 - Transition
        audio(src="http://christophe-maillard.com/pushka/2012-la-scene-michelet/17-transition.mp3", controls)
