doctype html
html(lang="fr")
  
  head
    include ./_includes/_head.pug
    block head
    
  body
    
    header
      include ./_includes/_nav.pug
    .container
      block content
    
    script(src="https://unpkg.com/jquery@3.2.1/dist/jquery.min.js")
    script(src="https://unpkg.com/bootstrap@3.3.7/dist/js/bootstrap.min.js")
