extends ./_layout.pug

block head

  title Dates - Pushka !
  meta(name="description", content="Dates - Pushka Pushka Pushka !")
  meta(name="keywords", content="Dates, Pushka")

block content
  
  h1 Dates
