extends ./_layout.pug

block head

  title Pushka !
  meta(name="description", content="Pushka Pushka Pushka !")
  meta(name="keywords", content="Pushka")

block content
  
  .row
    .embed-responsive.embed-responsive-16by9
      iframe(src="https://www.youtube.com/embed/Ol_PVCWoz7w?rel=0&amp;showinfo=0&amp;autoplay=1", frameborder="0", gesture="media", allow="encrypted-media", allowfullscreen)
