extends ../layout.pug

block content
  
  h1 #{page.name}

  .row
    p.col-xs-12
      strong.pushka Pushka, 
      | c'est un mélange original de hip-hop/ska/jazz, servi par six passionnés, aux origines musicales différentes mais complémentaires.
      | Des mélodies entraînantes, un groove particulier, des textes rappés et chantés, transportés par un clavier, un accordéon, une trompette, une basse et une batterie...
      | Venez apprécier ce cocktail musical, et laissez-vous emporter dans cet univers festif !
      
  .row
    ul
      strong.col-xs-12
        span.pushka Aurélien Dejean, 
        | chant, trompette, didgeridoo
      strong.col-xs-12
        span.pushka Jérémie Pottier, 
        | accordéon, trombone
      strong.col-xs-12
        span.pushka Christophe Maillard, 
        | piano, chant
      strong.col-xs-12
        span.pushka Baptiste Bordet, 
        | trompette, chant, tuba
      strong.col-xs-12
        span.pushka Joffrey Deschodt, 
        | basse
      strong.col-xs-12
        span.pushka Mathieu Allain, 
        | batterie
